.content-selector-portlet .mlr-selector-container{
	margin-left:auto;
	margin-right:auto;
}

.content-selector-portlet{
	font-family: Adobe Caslon Pro, Times New Roman;
}

.content-selector-portlet .mlr-selector-container .most-recent-title{
	text-align: center; 
	color:#D3D3D3;
	text-transform:uppercase;
	font-family: 'Open Sans';
	letter-spacing: 2px;
	background-color: #555;
	padding:12px;
	width:100%;
	font-size: 14px;
    line-height: 20px;
    margin-bottom:24px;
    box-sizing:border-box;
}

.content-selector-portlet form.content-selector-form{
	text-align:center;
}

.content-selector-portlet .selector-fieldset div,
.content-selector-portlet .selector-fieldset button{
	display:inline;
}

.content-selector-portlet .selector-fieldset .aui-field-select{
	margin-bottom:0;
}


.content-selector-portlet .portlet-title-text,
.content-selector-portlet .portlet-title img {
	display: none;
}

.content-selector-portlet .mlr-selector-container .article {
	font-size:14pt;
	line-height: 150%;
	text-align:left;

}

.content-selector-portlet .mlr-selector-container .title {
	font-size:20pt;
    color: #000666;
	text-align:left;
	line-height: 125%;

}

.content-selector-portlet a {
	color: #000666;
	text-decoration: none;
}


.content-selector-portlet a:hover {
	color: #00f;
}

.content-selector-portlet .mlr-vol-no-line{
	font-size:24px; 
	color: #000666;
	text-align: center; 
	padding-top: 20px;
	letter-spacing: 2px;
}

.content-selector-portlet .mlr-edition-line{
	text-align: center; 
	padding-bottom: 15px; 
	color:#808080;
	text-transform:uppercase;
	font-family: 'Open Sans';
	letter-spacing: 2px;
}

#myBtn{
	display:none;
}

