# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Liferay SDK files
.ivy/
.settings/
apps/
dependencies/
dist/
ext/


lib/
misc/
osgi/

shared/

tools/
webs/


.project
build.jag.properties
build.properties
build.xml
build-common.xml
build-common-ivy.xml
build-common-osgi-plugin.xml
build-common-plugin.xml
build-common-plugins.xml
build-common-plugins-inspector.xml
ci.properties
common.bnd
CONTRIBUTING.markdown
copyright.txt
ivy.xml
ivy.xml.MD5
ivy-settings.xml
ivy-settings-publisher.xml
README.markdown
source-formatter.properties


build.xml
build-common-*.xml
build-common-*.xml
create.bat
create.sh
merge.bat
themes/**/readme.txt

bin/
/*/*/target/*
!/*/*/target/*.war


