@import "../_custom_variables";


#banner .navbar .row{
	/*overrid _liferay display:block on :first-child*/
	display:flex;

	flex-wrap:nowrap;
}

.navbar-top {
	padding-bottom: 0.907rem;
	padding-top: 0.907rem;

	.portlet {
		&:hover,
		&.open {
			z-index: 1035;
		}
	}
}

.navbar-blank {
	flex-wrap: wrap;
}

.navbar-classic {
	background-color: $colorBackgroundHeaderFooter;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);

	h1{
		color:$colorTextHeader;
	}
/*
	&.navbar-light {
		border-bottom: 1px solid $light-color;
	}
*/
	.navbar-blank {
		@include media-breakpoint-down(sm) {
			margin-top: 1rem;
		}
	}

	.navbar-form {
		padding: 0;

		.field-wrapper {
			right: 0;
			top: 0;

			.lfr-icon-item {
				color: #6b6c7e;
			}
		}
	}

	.portlet-search-bar {
		@include media-breakpoint-down(sm) {
			width: 100%;
		}

		.input-group-item {
			margin-left: 0;
		}
	}

	.logo:hover {
		text-decoration: none;
	}

	.navbar-nav {
		.nav-item:not(:last-of-type) {
			.nav-link {
				@include media-breakpoint-up(lg) {
					margin-right: 16px;
				}
			}
		}
	}



	.nav-link {
		color:$colorTextHeader;
		font-size: 0.9375rem;
		font-weight: normal;
		text-transform: uppercase;
	}

	.navbar-toggler{
		color: $navbar-toggler-color;
    border-color: $navbar-toggler-color;
	}

	.navbar-toggler-icon{
		background-image: $navbar-toggler-icon-bg;
	}

}
