@import "../_custom_variables";

#navigationCollapse:not(.show) {
	padding-right: 0;
	/*override breakpoint from liferay.css*/
	@include media-breakpoint-down(lg) {
		display: none;
	}
}
/*This is the code for the mobile nav menu when it's being shown*/

#navigationCollapse.show {
	/*include breakpoint so mobile nav closes after resizing past a certain point*/
	@include media-breakpoint-down(md) {
		position: absolute;
		top: 90px;
		left: 0;
		right: 0;
		background-color: #3a3a3a;
		/*TODO: variable?*/
		padding: 1rem;
		z-index: 5;
	}
}

header {
	margin-bottom: 1.5rem;
}

#banner {
	.banner__inner-wrapper {



		.dropdown-menu {
			background-color: #E0E0E0;
			border: 1px solid rgba(0,0,0,0.2);
			box-shadow: 0 5px 10px rgba(0,0,0,0.2);
			left: 5px;
			margin: 0;
			border-radius: 0;
		}
		/*right align last dropdown so it doesn't spill off page*/
		.nav-item:last-of-type .dropdown-menu {
			left: inherit;
			right: 5px;
		}


		.navbar-blank {
			@include media-breakpoint-down(md) {
				margin-top: 1rem;
			}
		}

		.navbar-form {
			padding: 0;

			.field-wrapper {
				right: 0;
				top: 0;

				.lfr-icon-item {
					color: #6b6c7e;
				}
			}
		}



		}

		.navbar {
			padding-right: 0;
			@include media-breakpoint-down(md) {
				position: static;
			}
		}

		.navbar-nav {
			@include media-breakpoint-down(md) {
				flex-direction: column;
			}

			.nav-item {
				@include media-breakpoint-up(lg) {
					border-left: thin solid $colorTextNavigation;
				}
				padding: 0 6px;
			}

			.nav-item:not(:last-of-type) {
				@include media-breakpoint-down(md) {
					border-bottom: thin solid $colorTextNavigation;
				}
			}

			.nav-link:hover {
				background-color: $colorTextNavigation;
				color: $colorBackgroundHeaderFooter;
			}

			.nav-item:not(:last-of-type) {
				.nav-link {
					/*@include media-breakpoint-up(lg) {
						margin-right: 16px;
					}*/
				}
			}
		}

		.nav-link {
			color: $colorTextHeader;
			font-size: 0.9375rem;
			font-weight: normal;
			text-transform: uppercase;
		}

		.navbar-toggler {
			color: $navbar-toggler-color;
			border-color: $navbar-toggler-color;
			height: 40px;
		}

		.navbar-toggler-icon {
			background-image: $navbar-toggler-icon-bg;
		}
	}
	/*remove padding from last item in nav row*/
	//> div:last-of-type {
	//	padding-right: 0;
	//}
	//.nav-column {
	//	justify-content: center;
	//}
	.banner__logo-column {
		justify-content: start;
		flex-direction: column;
		padding-left: 0;
		/*This is to allow the navbar to overlap the logo like in the previous version of the theme*/
		width: auto;
		left: 0;
		position: absolute;
		margin-left: 15px;

		h1 {
			display: inline;
		}

		img {
			height: 120px;
			/*@include media-breakpoint-up(md) {
				height: 120px;
			}*/
			margin-top: 9px;
			margin-bottom: 9px;
		}
	}





/*site search*/
/*(including in nav CSS because site search is neste )*/
#siteSearch {
	.search-bar-keywords-input-wrapper {
		min-width: 0;

		.search-bar-keywords-input {
			width: 0;
			padding-left: 0;
			padding-right: 0;
			@include single-transition(width 0.3s ease);
		}
	}


	.portlet-search-bar {
		@include media-breakpoint-down(lg) {
			width: 100%;
		}

		.search-bar-keywords-input {
			@include media-breakpoint-down(md) {
				/*add padding inside search box on smaller screens*/
				padding: 0.75rem;
				transition: none;
			}
		}

		.search-bar-keywords-input--expanded{
			width: 160px;
			padding: 0 .5rem 0 .5rem;
		}

		.search-bar-search-button,
		.search-bar-search-button-wrapper {
			background-color: transparent;
		}

		.search-bar-search-button--selected {
			@include search-button--selected;
		}

		.search-bar-search-button:hover {
			@include search-button--selected;
		}

		.input-group-item {
			margin-left: 0;
		}
	}

	.search-bar-search-button {
		/*background-color: #6A6A6A;*/
		padding: 4px 12px;
		/*color: #BBBBBB;*/
		border-radius: 0;
	}

	/*.search-bar-search-button:hover {
		background-color: #FFFFFF;
		text-decoration: none;
	}*/

	.search-bar-search-button:focus {
		text-decoration: none;
	}

	.search-bar-search-button-wrapper {
		padding: 0;
		min-height: 38px;

		button {
			margin: 0;
			height: 100%;
		}
	}

	.form-control,
	.search-bar-search-button-wrapper {
		background-color: lighten($colorBackgroundHeaderFooter, 15%);
		color: $colorTextHeader;
		border: none;
		border-radius: 0;

		&::placeholder {
			color: $colorTextFooter;
		}
	}
	/**/
	.form {
		width: 100%;
		overflow-x: hidden;

		.field:focus {
			@include box-shadow(none);
		}
	}
	@include respond-to(desktop) {
		&.search-bar-keywords-input {
			.form {
				width: 0;
			}

			.search-bar-search-button {
				background: none;
			}

			.search-bar-search-button:hover {
				background: #6A6A6A;
			}
		}

		.search-bar-search-button {
			background: #6A6A6A;
			color: #BBBBBB;
		}

		.search-bar-search-button:hover {
			background-color: #FFFFFF;
		}
	}
}
