.certificate-container{
  width:8.5in;
  height:11in;
  background-color:lightgrey;
}

@media print{
  html{
    width:8.5in;
    height:11in;
    margin:0;
    padding:0;
  }

  .certificate-container{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
  }

  #header-wrapper,
  #subbanner,
  #breadcrumbs,
  #footer,
  .lfr-meta-actions,
  .portlet-topper,
  .form-container{
      display:none !important;
  }

  #wrapper{
      margin-top:0 !important;
  }

  svg{
      display:block !important;
  }

}
