@import url(nouislider.css);

/*selector form styles*/


.content-selector-search-portlet .noUi-handle{
    box-shadow:inset 0 0 1px #FFF, inset 0 1px 7px #ebebeb, 0 3px 6px -3px rgba(0,0,0,.7);
}

.content-selector-search-portlet .content-selector-form{
    background-color:#555;
    padding:1rem;
}

/*center vol/issue selector*/
.content-selector-search-portlet .control-group{
    text-align:center;
}

/*left align control group in config*/
.content-selector-search-portlet .config-form .control-group{
	text-align:left;
}

.content-selector-search-portlet .noUi--slider-outer-container{
	display:flex;
	align-items:center;
	justify-content: space-around;
	flex-direction:row;
	
	margin-left:auto;
	margin-right:auto;
}

.content-selector-search-portlet .noUi--year-label{
	flex: 0 0 auto;
	background-color:white;
	padding:.5rem;
	border-radius:5px;
	/*box-shadow: 0 3px 6px -5px rgba(0,0,0,.7);*/
}

.content-selector-search-portlet .noUi--slider-inner-container{
	display:inline-block;
	padding:2rem;
	flex:1 1 50%;
}


.content-selector-search-portlet .noUi--slider-outer-container .noUi-connect{
	background-color: #50a2f5;
}

.content-selector-search-portlet .noUi-target{
    border:none;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.7), 0 3px 6px -5px rgba(0,0,0,.7);
    
}

.selector-fieldset div{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}

.content-selector-search-portlet .control-group{
	margin-bottom:0;
	margin-left: 10px;
    margin-right: 10px;
}

.content-selector-search-portlet .btn-primary{
	margin-bottom:10px;
}


/*TOC styles*/
.content-selector-search-portlet .volume-container{
	font-family: Adobe Caslon Pro, Times New Roman, serif;
}

.content-selector-search-portlet .volume-container h2{
	font-size:2rem;
	font-weight:normal;
    color: #000666 !important; /*using important to override theme color*/
    text-align:center;
    margin-top:3rem;
}

.content-selector-search-portlet .table-of-contents-container h3{
	text-align: center;
    margin-top: 1rem;
    color: #000666!important;
    font-weight: normal;
    border-bottom:.25px solid rgb(220,220,220);
}

.table-of-contents-container{
	/*border-top:.25px solid rgb(220,220,220);
	padding-top:2rem;*/
}

.content-selector-search-portlet .year-label{
	text-align: center; 
	padding-bottom: 1rem; 
	color:#808080;
	text-transform:uppercase;
	font-family: 'Open Sans', 'sans-serif';
	letter-spacing: 2px;
}

.content-selector-search-portlet .toc-entry{
	color: #000666;
	font-size:2rem;
	line-height:1.125;
}


.content-selector-search-portlet .toc-entry a {
	color: #000666 !important; /*using important to override theme color*/
	text-decoration: none;
}

.content-selector-search-portlet .author-names{
	font-size:1.5rem;
	font-style:italic;
	margin-bottom:4rem;
}

/*Other*/
/*hiding default error message*/
.alert-error:first-of-type{
    display:none;
}