$colorPrimary: #000666;
$colorBackgroundBody: #F9F9F9;
$colorBackgroundHeaderFooter: #505050;
$colorTextFooter: #E0E0E0;
$colorTextHeader: #E0E0E0;
$colorHeading: #5E60B2;
$colorHighlightWarn: #953537;
$colorHighlightInfo: #5CB260;

$colorHudCrumbBackground: #000;
$colorHudCrumbText: #FFF;

$colorTextNavigation:#E0E0E0;


$navbar-toggler-icon-bg:       str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$colorTextNavigation}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23") !default;
$navbar-toggler-color:  $colorTextNavigation;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1440px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1248px,
  xxl: 1400px
);

/*update colors for search button when hovered or expanded*/
@mixin search-button--selected{
  background-color: $colorTextNavigation;
  color: $colorBackgroundHeaderFooter;
}
